[Desktop Entry]
Name=Firewalld
Name[en_US]=Firewalld
Comment[en_US]=Firewalld
Icon=firewall-applet
Categories=System;Settings;Security;
Exec=/usr/bin/firewalld
Type=Application
StartupNotify=true
Terminal=false
Hidden=true
