[Desktop Entry]
Name=Firewall Applet
Name[en_US]=Firewall Applet
Comment[en_US]=Firewall Applet
Icon=firewall-applet
Categories=System;Settings;Security;
Exec=/usr/bin/firewall-applet
Type=Application
StartupNotify=true
Terminal=false
Hidden=true
